@use '../variables' as *;

.emergency {
  &__grid {
    display: grid;
    gap: 2rem;
    margin-top: 2rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  &__item {
    text-align: center;
  }

  &__icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 999px;
    display: grid;
    place-items: center;
    margin: 0 auto 1rem;
    background-color: rgba(248, 250, 252, 0.1);
    font-size: 1.5rem;
  }

  &__value {
    font-size: 1.2rem;
    font-weight: 400;
  }

  &__cta {
    margin-top: 3rem;
    text-align: center;
  }
}